<main>
  <p id="notice"></p>
  <div class="container text-center">
    <div class="row">
      <div class="p-3 mb-2 bg-secondary text-light">商品新規登録</div>
　　</div>


  <%= form_with model: @item, url: admin_items_path do |f| %>


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-2">
        商品画像
      </div>
      <div class="col-2">
        <%= f.file_field :image, accept: "image/*" %>
      </div>




  <div class="container">
    <div class="row mt-3 justify-content-center">
      <div class="col-2">
        商品名
      </div>
      <div class="col-2">
      <%= f.text_field :name, placeholder: "商品名" %>
      </div>



  <div class="container">
    <div class="row mt-2 justify-content-center">
      <div class="col-2">
        商品説明
      </div>
      <div class="col-2">
        <%= f.text_area :introduction, placeholder: "ここに説明文を記述します"%>
      </div>


  <div class="container">
    <div class="row mt-2 justify-content-center">
      <div class="col-2">
        ジャンル
      </div>
      <div class="col-2">
      <%= f.select :genre_id, ['ケーキ', 'クッキー', 'プリン'], {include_blank: '--選択してください--'}, class: 'sample' %>
      </div>


  <div class="container">
    <div class="row mt-2 justify-content-center">
      <div class="col-2">
        税抜価格
      </div>
      <div class="col-2">
      <%= f.text_field :price, placeholder: "1000"%>
      </div>

      <div class="container">
      <div class="row mt-2 justify-content-center">
      <div class="col-2">
        販売ステータス
      </div>
    <%= form_with model: @item, local: true do |f| %>
      <%= f.radio_button :is_active, :true %>
      <%= f.label :is_active, "販売中" %><br />
      <%= f.radio_button :is_active, :false %>
      <%= f.label :cis_active, "販売停止中" %><br />
    <% end %>


    <div class="container">
      <div class="row mt-2 justify-content-center">
      <div class="col">

      <div><%= f.submit "変更を保存", class: "btn btn-success" %></div>


      </div>

<% end %>
