<main>
  <p id="notice"></p>
  <div class="container">

    <div class="row">
      <div class="p-3 mb-2 bg-secondary text-dark">管理者ログイン</div>
　　</div>

<div class="btn-wrapper col-6 mx-auto">
    <div class="row">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <tr>
    <td>

  <div class="field">

  <td><%= f.label :メールアドレス %><br /></td>

  <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>



  </div>

  <div class="field">
    <td><%= f.label :パスワード %><br /></td>
    <td><%= f.password_field :password, autocomplete: "current-password" %></td>
  </div>



  <div class="actions">
    <div><%= link_to "ログイン", admin_top_path, class: "btn btn-primary" %></div>
  </div>
<% end %>

<%= render "admin/shared/links" %>

      </div>
    </div>
  </div>
</main>

