
<div class="container">
    <div class="row">
        <div class="col-xs-12 mx-auto">
            <%= image_tag "baked-goods-1853261_1280.jpg", size: '550x350' %>
            <div class="text-center"
            <p>
                <span>ようこそ、ながのCAKEへ!</span><br>
                このサイトは、ケーキ販売のECサイトになります。</br>
                会員でない方も商品の閲覧はできますが、</br>
                購入には会員登録が必要になります。</br>
            </p>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <h3>新着商品</h3>

<div class="row">

    <% @items.each do |item| %>

    <% if item.is_active %>


            <div class="col">
                <%= link_to (image_tag item.image, size: '200x200'), public_item_path(item.id) %>

            <div class="col">
                <strong>商品名</strong>
                <%= item.name %>

            <div class="col">
                <strong>価格</strong>
                <%= item.price %>


            </div>
            </div>
            </div>
    <% end %>



    <% end %>
    </div>
</div>


<div class="all-items-show-button, text-right"><%= link_to "全ての商品をみる>", public_items_path %></div>
