 <p id="notice"></p>
  <div class="container text-center">
    <div class="row">
      <div class="p-3 mb-2 bg-secondary text-light">会員情報編集</div>
　　</div>

    <tbody>
　　<% @customers.each do |customer| %>
　　<tr>
     <td><%= customer.id %></td>
    </tr>
    <% end %>
    </tbody>


    <%= form_with model: @customer, url: admin_customer_path do |f| %>

    <div class="form-group">
        氏名
      <%= f.text_field :last_name, placeholder: "姓" %>
      <%= f.text_field :first_name, placeholder: "名" %>
    </div>


    <div class="form-group">
        フリガナ
      <%= f.text_field :last_name_kana, placeholder: "姓カナ" %>
      <%= f.text_field :first_name_kana, placeholder: "名カナ" %>
    </div>


    <div class="form-group">
       郵便番号
      <%= f.text_field :Postal_cade %>
    </div>


    <div class="form-group">
        住所
      <%= f.text_field :address %>
    </div>

     <div class="form-group">
        電話番号
      <%= f.text_field :telephone_number %>
   </div>


    <div class="form-group">
        メールアドレス
      <%= f.text_field :address %>
   </div>

    <div class="form-group">
       会員ステータス

       <%= f.radio_button :is_deleted, :false %>
         <%= f.label :is_deleted, "有効" %>

       <%= f.radio_button :is_deleted, :true %>
         <%= f.label :is_deleted, "退会" %>


      </div>

       <div><%= f.submit "変更を保存", class: "btn btn-success" %></div>






　　<% end %>