<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="p-3 mb-2 bg-secondary text-light">ログイン</div>
    </div>
  </div>

  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="p-3 mb-2 bg-secondary text-light">会員の方はこちらからログイン</div>
    </div>
  </div>

  <div class="btn-wrapper col-6 mx-auto">
    <div class="row">
      <div class="col-sm">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
    <%= f.label :メールアドレス %><br />
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  </div>


  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
    <%= f.label :パスワード %><br />
    </div>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  </div>



  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
    <div><%= f.submit "ログイン", class: "btn btn-primary" %></div>
      </div>
    </div>
  </div>

<% end %>


    </div>
  </div>
</div>

<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="p-3 mb-2 bg-secondary text-light">会員登録がお済みでない方</div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12 pb-5 mx-auto">
        <div class="text-center"
          <div><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</div>
        </div>
      </div>
    </div>
  </div>


