<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
  <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">LOGO</a>
      <div class="container">

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <%= link_to admin_about_path, class: 'nav-link text-dark' do %>

            <p class="border rounded">About</p>

            <% end %>


            <%= link_to admin_items_path, class: 'nav-link text-dark' do %>

            <p class="border rounded">商品一覧</p>

            <% end %>



            <%= link_to new_admin_item_path, class: 'nav-link text-dark' do %>

              <p class="border rounded">新規登録</p>

            <% end %>


            <%= link_to new_admin_session_path, class: 'nav-link text-dark' do %>

              <p class="border rounded">ログイン</p>

            <% end %>

          <div>



            <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">




    </form>
          </div>
            </ul>
          </div>
      </div>
    </nav>
   </header>






  <main>
    <%= yield %>
  </main>
  </body>
</html>

        <footer>

          </footer>


